
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Familia</title>



    <link rel="stylesheet" href="C:\Users\franc\OneDrive\Escritorio\tecnologiadelinternet2\primeraasignacionlimpia\desing\familia.css">
</head>

<body>
    <nav class="menu">
        <h2 class="logo">Mi Mundo</h2>
        <ul>
            <li><a href="persona.html">Sobre mí</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="youtubers.html">Youtubers</a></li>
            <li><a href="series.html">Animes / Series</a></li>
            <li><a href="familia.html">Familia</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <header>
        <h1>Mi Familia</h1>
    </header>

    <div class="galeria-familia">
        {{#each this}}
        <div class="miembro-familia">
            <img src="data:image/jpeg;base64,{{Fotobase64}}" alt="Foto de {{Nombre}}" />
            <div class="info-miembro">
                <h2>{{Nombre}}</h2>
                <p>{{Parentezco}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</body>

</html>
