<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mis Hobbies</title>
    <link rel="stylesheet" href="C:\Users\franc\OneDrive\Escritorio\tecnologiadelinternet2\primeraasignacionlimpia\desing\hobbies.css">
</head>

<body>
    <nav class="menu">
        <h2 class="logo">Mi Mundo</h2>
        <ul>
            <li><a href="persona.html">Sobre mí</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="youtubers.html">Youtubers</a></li>
            <li><a href="series.html">Animes / Series</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    <header>
        <img src="../desing/imagenes/3500fdb9-54f3-4aeb-8e2e-e0ff22cb9ddb.gif" alt="Animación divertida" class="gif-principal mb-6">
        <h1 style="color: #FF0081;">Mis pasa Tiempos</h1>
    </header>



    <div class="hobbies">
        {{#each this}}
        <div class="hobby">
            <h2>{{Titulo}}</h2>
            <p>{{Descripcion}}</p>
        </div>
        {{/each}}
    </div>

    <div class="galeria">
        <div class="imagen">
            <img src="C:\Users\franc\OneDrive\Escritorio\tecnologiadelinternet2\primeraasignacionlimpia\desing\imagenes\serena.jpeg" alt="Imagen 1">
        </div>
        <div class="imagen">
            <img src="C:\Users\franc\OneDrive\Escritorio\tecnologiadelinternet2\primeraasignacionlimpia\desing\imagenes\peliculas.jpeg" alt="Imagen 2">
        </div>
        <div class="imagen">
            <img src="C:\Users\franc\OneDrive\Escritorio\tecnologiadelinternet2\primeraasignacionlimpia\desing\imagenes\disco.jpeg" alt="Imagen 3">
        </div>
    </div>

</body>
</html>
