<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="C:\Users\franc\OneDrive\Escritorio\tecnologiadelinternet2\primeraasignacionlimpia\desing\persona.css">
</head>

<body>
    <nav class="menu">
        <h2 class="logo">Mi Mundo</h2>
        <ul>
            <li><a href="persona.html">Sobre mí</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="youtubers.html">Youtubers</a></li>
            <li><a href="series.html">Animes / Series</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <section id="sobre-mi">



        <img src="../desing/imagenes/e68e0f918dc5dd750f4522ec1671e3c6.gif" alt="Animación divertida" class="gif-principal mb-6">
        <header> <h1 style="color: white; font-size: x-large; ">Sobre mi</h1></header>


        <p class="nombre">Nombre: {{Nombre}} {{Apellido}}</p>
        <p>Nacimiento: {{Nacimiento}}</p>

        <a href="familia.html" target="_blank" class="btn-familia">Ver familia</a>
        <a href="https://www.instagram.com/uarmyhope/" target="_blank" class="btn-Instagram">Instagram</a>
        <a href="https://www.facebook.com/bangtan.official/?locale=es_LA" target="_blank" class="btn-facebook">facebook</a>
    </section>
</body>
