

:root {
    --color-pink-light: #fbecec;
    --color-pink-soft: #ffb6c1;
    --color-pink-dark: #e88d9c;
    --color-grey-light: #f5f5f5;
    --color-text-dark: #333;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-pink-light);
    color: var(--color-text-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

header {
    text-align: center;
    padding: 1rem 0;
    
   
}

.gif-principal {
    width: 150px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--color-pink-soft);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

h1 {
    margin: 0;
    font-size: 2rem;
    color: #f70c7a;
}

.container,
.series {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.card,
.serie {
    background-color: #fff0f5;
    / border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 280px;
    padding: 15px;
    transition: transform 0.2s;
}

    .card:hover,
    .serie:hover {
        transform: translateY(-5px);
    }

    .serie img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-image img,
    .serie iframe {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }

.card-content,
.serie {
    text-align: justify;
    
}

    .card-content h2,
    .serie h2 {
        font-size: 1.2rem;
        color: #ff6699;
        margin-top: 10px;
    }

    .card-content p,
    .serie p {
        font-size: 0.9rem;
        line-height: 1.4;
        color: #333;
        background-color: #fdfdfd;
        border-radius: 5px;
        padding: 10px;
        margin-top: 10px;
    }


    .card-content a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #ff66a3;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        transition: background-color 0.2s;
        margin-top: 10px;
    }

        .card-content a:hover {
            background-color: #ff3385;
        }


.btn-trailer {
    display: inline-block;
    background-color: #FF0000; 
    color: #fff;
    font-weight: bold;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    font-family: Arial, sans-serif;
}

    .btn-trailer:hover {
        background-color: #cc0000; 
        transform: scale(1.05); 
    }
.menu {
    background-color: #fff;
    border-bottom: 2px solid var(--color-grey-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

    .menu .logo {
        font-size: 1.8em;
        color: var(--color-pink-dark);
        font-family: 'Poppins', cursive;
        margin: 0;
    }

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        .menu ul li {
            margin-left: 30px;
        }

            .menu ul li a {
                color: var(--color-text-dark);
                text-decoration: none;
                font-weight: 400;
                transition: color 0.3s ease, border-bottom 0.3s ease;
                padding: 5px 0;
            }

                .menu ul li a:hover {
                    color: var(--color-pink-soft);
                    border-bottom: 2px solid var(--color-pink-soft);
                }